<h1>New Bestowment</h1>

<%= form_with(model: @bestowment, data: { remote: false }) do |f| %>
  <%= f.label :user %>
  <%= f.collection_select(:bestowed_id,
                          current_user.teammates, :id, :full_name,
                          {},
                          { id: "bestowment_bestowed_id" }) %>

  <%= f.submit %>
<% end %>
