<!DOCTYPE html>
<html>
<head>
  <title>Rewards</title>
  <%= stylesheet_link_tag    "rewards/application", media: "all" %>
  <%= javascript_include_tag "rewards/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
